  <footer class="page-footer gradient-45deg-indigo-light-blue">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright ©
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script> <a class="grey-text text-lighten-4" href="#" target="_blank">Idepsoft</a> All rights reserved.</span>
        <span class="right hide-on-small-only"> Developed by <a class="grey-text text-lighten-4" href="#">Idepsoft</a></span>
      </div>
    </div>
  </footer>
