
{% load static %}

<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="{% url 'home' %}" class="brand-logo darken-1">
                <img src="{% static 'images/logo/materialize-logo.png' %}" alt="materialize logo">
                <span class="logo-text hide-on-med-and-down">Materialize</span>
              </a>
            </h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
          <i class="material-icons">search</i>
          <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" />
        </div>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
              <span class="flag-icon flag-icon-gb"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
              <i class="material-icons">settings_overscan</i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="material-icons">notifications_none
                <small class="notification-badge pink accent-2">5</small>
              </i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
              <span class="avatar-status avatar-online">
                <img src="{% static 'images/avatar/avatar-7.png' %}" alt="avatar">
                <i></i>
              </span>
            </a>
          </li>
        </ul>
        <!-- translation-button -->
        <ul id="translation-dropdown" class="dropdown-content">
          <li>
            <a href="#!" class="grey-text text-darken-1">
              <i class="flag-icon flag-icon-gb"></i> English</a>
          </li>
          <li>
            <a href="#!" class="grey-text text-darken-1">
              <i class="flag-icon flag-icon-fr"></i> French</a>
          </li>
          <li>
            <a href="#!" class="grey-text text-darken-1">
              <i class="flag-icon flag-icon-cn"></i> Chinese</a>
          </li>
          <li>
            <a href="#!" class="grey-text text-darken-1">
              <i class="flag-icon flag-icon-de"></i> German</a>
          </li>
        </ul>
        <!-- profile-dropdown -->
        <ul id="profile-dropdown" class="dropdown-content">
          {% if usuario %}
          <li>
            <a href="{% url 'users:usuario_perfil' usuario.id %}" class="grey-text text-darken-1">
              <i class="material-icons">face</i> Profile</a>
          </li>
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">settings</i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'users:usuario_bloquearpantalla' %}" class="grey-text text-darken-1">
              <i class="material-icons">lock_outline</i> Lock</a>
          </li>
          <li>
            <a href="{% url 'users:usuario_logout' %}" class="grey-text text-darken-1">
              <i class="material-icons">keyboard_tab</i> Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'users:usuario_login' %}" class="grey-text text-darken-1">
              <i class="material-icons">keyboard_tab</i> Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>