{% load static %}
<aside id="right-sidebar-nav">
    <ul id="chat-out" class="side-nav rightside-navigation">
      <li class="li-hover">
        <div class="row">
          <div class="col s12 border-bottom-1 mt-5">
            <ul class="tabs">
              <li class="tab col s12">
                <a href="#activity" class="active">
                  <span class="material-icons">import_contacts</span>
                  <span id="titulo_termino" class="nav-text">Diccionario</span>
                </a>
              </li>          
            </ul>
          </div>      
              <section id="content">
                <!--start container-->
                <div class="container">
                    <!--card widgets start-->
                    <div id="card-widgets">
                        <div class="row">
                            <div class="col s12 m9 l9">
                                <!--Basic Card-->
                                <div id="basic-card">
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <ul id="acordeon" class="collapsible collapsible-accordion" data-collapsible="accordion">
                                                <li id="tipo">
                                                <div class="collapsible-header">
                                                    <i class="material-icons">blur_circular</i> Tipo</div>
                                                <div class="collapsible-body">
                                                    <p>Entrada o subentrada.</p>
                                                </div>
                                                </li>
                                                <li id="termino">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Término</div>
                                                <div class="collapsible-body">
                                                    <p>Término buscado.</p>
                                                </div>
                                                </li>
                                                <li id="variante">
                                                    <div class="collapsible-header active">
                                                        <i class="material-icons">blur_circular</i> Variante</div>
                                                    <div class="collapsible-body">
                                                    </div>
                                                </li>
                                                <li id="clase">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Clase</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="parte_principal">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Parte</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="variante_principal">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Variante</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="etimologia">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Etimología</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="definicion">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Definición</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="ejemplo">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Ejemplo</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="uso">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Uso</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="referencia">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Referencia</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                                <li id="sinonimos">
                                                <div class="collapsible-header active">
                                                    <i class="material-icons">blur_circular</i> Sinónimos</div>
                                                <div class="collapsible-body">
                                                </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card widgets end-->
                </div>
                <!--end container-->
            </section>
          </div>
        </div>
      </li>
    </ul>
  </aside>
